@model Models.Media
@{ ViewBag.PageTitle = "Détails"; }

<div class="detailsPanel">
    <dl>

        <dd>
         
            @if (Models.User.ConnectedUser.Id == Model.OwnerId && Model.Shared)
            {
                <span style="color:grey">[Partagé]</span>
            }
        </dd>
        <dd>
            @Model.Title
           
        </dd>
        <dd>
            <iframe class="mediaPlayerBig"
                    src="https://www.youtube.com/embed/@Model.YoutubeId"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </dd>
        <dd class="description">
            @Model.Description
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Category
        </dd>

        <dt>
            Date de publication
        </dt>

        <dd>
            @Model.PublishDate.ToLongDateString()
        </dd>
        <dt>
            Ajouté par
        </dt>

        <dd>
            @Helper.AvatarUser(Model.Owner)
        </dd>

    </dl>
</div>